.App {
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-around;
}

.signUpDiv {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
  border: 2px solid black;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.8);
  height: 275px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}
.signupbutton {
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

/* .signUp {
  display: flex;
  flex-direction: column;
} */

.signIn {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  border: 2px solid black;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.8);
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}

li {
  list-style: none;
}
ul {
  list-style: none;
}

.nav {
  background: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 0, 0, 10px, 10px;
}

.albums {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-radius: 20px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.9);
  width: 50%;
}

.poll {
  /* display: flex;
  flex-direction: column; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-radius: 20px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.9);
  width: 60%;
}

.pollIsLogged {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-radius: 20px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.9);
  width: 20%;
}

.pollRules {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-radius: 20px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.9);
  width: 45%;
}

.Homepage {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: rgba(255, 255, 255, 0.9);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-content: ; */
  align-items: flex-start;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-radius: 20px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.9);
  height: 100px;
  width: 30%;
}

.profileinfo {
  margin-left: 10px;
}

.profileEdit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.9);
  margin: auto;
  width: 30%;
  height: 100px;
}

.editInput {
  width: 75%;
}

.accountBtns {
  display: flex;
  justify-content: center;
}

.pollSelections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.voteButton {
  margin-bottom: 5px;
}

.voteHolder {
  width: 30%;
}

.badTry {
  font-size: smaller;
  color: rgb(231, 4, 4);
}

.userChoice {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-radius: 20px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.9);
  height: 100px;
  width: 200px;
}

.buttonHomePage {
  margin: auto;
  margin-bottom: 5px;
  width: 50px;
}